image:
  repository: 829876690747.dkr.ecr.ap-south-1.amazonaws.com/entrytracker-app:38b49b55e0b55df2847511c3d2fcb7c3de04b53d
  tag: 1.0.0

replicaCount: 2

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
