image:
  repository: 829876690747.dkr.ecr.ap-south-1.amazonaws.com/entrytracker-app:38b49b55e0b55df2847511c3d2fcb7c3de04b53d
  tag: latest

replicas: 2

service:
  port: 8000

env:
  DB_HOST: mysql
  DB_PORT: "3306"
  DB_NAME: appdb
  DB_USER: appuser
